# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

app/assets/images/icons-*.png