<!doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <%= image_tag attachments.inline['logo.png'].url %>
    <h1>Hi <%= @user.first_name %>, Welcome to Startups of Puerto Rico</h1>
    <p>Feel free to complete your profile. Thanks!</p>
  </body>
</html>