<% content_for :subheader do %>
<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1 class='subheader-form-title'>Edit startup: <%= @startup.name %></h1>
      </div>
    </div>
  </div>
</section>
<% end %>
<div class='container'>
  <div class='row-fluid'>
    <div id='content'>
      <%= render 'form' %>
    </div>
  </div>
</div>