<% content_for :subheader do %>
<section id='subheader-image' class='subheader-image-startup'>
  <div class='subheader-opacity'></div>
  <div class='container-fluid container-padding'>
    <div class='row-fluid subheader-wrapper-content'>
      <h2 class='subheader-tile'>Startups</h2>
      <p class='subheader-subtitle'>A collection of internet companies made with <i class='icon-heart-1 loved'></i> in PR</p>
    </div>
  </div>
</section>
<% end %>
<section id='content'>
  <div class='container'>
    <div class='row-fluid'>
      <% @startups.each do |startup| %>
        <%= render 'startup_card', startup: startup %>
      <% end %>
    </div>
  </div>
</section>

