<% content_for :subheader do %>
<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1 class='subheader-form-title'>Create a new startup</h1>
      </div>
    </div>
  </div>
</section>
<% end %>
<div id='content'>
  <div class='container'>
    <div class='row-fluid'>
      <%= render 'form' %>
    </div>
  </div>
</div>
