<% content_for :subheader do %>
<section id='subheader-image' class='subheader-image-groups'>
  <div class='subheader-opacity'></div>
  <div class='container-fluid container-padding'>
    <div class='row-fluid subheader-wrapper-content'>
      <h2 class='subheader-tile'>Communities</h2>
      <p class='subheader-subtitle'>A number of persons ranged together to share their common interests</p>
    </div>
  </div>
</section>
<% end %>
<div class="container coming-soon">
    <%= render 'shared/get_involved' %>
</div>