<% content_for :subheader do %>
<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1 class='subheader-title'>Groups</h1>
      </div>
    </div>
  </div>
</section>
<% end %>

<div class="container coming-soon">
    <p class="lead">a number of persons ranged or considered together as being related in some way.</p>
    <%= render 'shared/get_involved' %>
</div>