<header class="jumbotron subhead">
  <div class="container">
    <h1>People</h1>
    <h2>A collection of creative talent from P.R.</h2>
  </div>
</header>

<div class="container">
  <div class="row-fluid">
    <div class="span3 user-card">
      <div class="user-meta blue">
        <div class="user-avatar">
          <img src="http://gravatar.com/avatar/becd166a81dc51c0009f602d175d0cc8.png?s=50" alt="">
        </div>
        <div class="user-full-name">José Padilla</div>
        <div class="user-job-title">Developer</div>
      </div>
      <div class="user-about">
        "I'm a developer, hacker, and entrepreneur. Co-founder at Blimp."
      </div>
      <ul class="user-social">
        <li><a target="_blank" class="icons-facebook" href="#"></a></li>
        <li><a target="_blank" class="icons-twitter" href="#"></a></li>
        <li><a target="_blank" class="icons-linkedin" href="#"></a></li>
      </ul>
    </div>
    <div class="span3 user-card">B</div>
    <div class="span3 user-card">C</div>
    <div class="span3 user-card">D</div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
