<% content_for :subheader do %>
<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1 class='subheader-title'>People a collection of creative talent from P.R.</h1>
      </div>
    </div>
  </div>
</section>
<% end %>
<section class='container'>
  <div class='row-fluid'>
    <div id='content'>
      <% @users.in_groups_of(3) do |group| %>
        <div class="row">
          <% group.compact.each do |user| %>
            <%= render 'user_card', user: user %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= paginate @users %>
</section>
