<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1>People</h1>
        <h2>A collection of creative talent from P.R.</h2>
      </div>
    </div>
  </div>
</section>
  <section id='content'>
    <div class='container'>
      <div class='row-fluid'>
        <% @users.each do |user| %>
          <%= render 'user_card', user: user %>
        <% end %>
      </div>
    </div>
  </section>
