<div class="container">
  <div class="footer">
    <ul class="footer-links pull-right">
      <li><a href=" https://groups.google.com/forum/#!forum/startupspr">Google Group</a></li>
      <li><a href="http://elweb.us1.list-manage.com/subscribe?u=2da892786ddd5a32ddc8471c3&id=0442d93b6d">Mailing List</a></li>
      <li><a href="https://twitter.com/startupsofpr">Twitter</a></li>
      <li><a href="https://www.hipchat.com/gcEE9CIpS">Chat</a></li>
      <!-- <li><a href="/blog">Blog</a></li> -->
    </ul>
    <div class="made-with-love">Made with <i class="icon-heart-2 heart"></i> in P.R.</div>
    <ul class="footer-links pull-left">
        <li><%= link_to 'About', about_path %></li>
        <li><a href="https://github.com/jpadilla/sopr-platform">GitHub</a></li>
        <li><a href="https://github.com/SoPR/CAP/pull/3">CAP-003</a></li>
        <li><a href="mailto: jpadilla@getblimp.com">Contact</a></li>
    </ul>
  </div><!-- /.site-footer -->
</div>