

<p>We already haves a couple of ideas of what this section is all about and are already working on it. We definitely want your feedback and welcome you to join the discussion.</p>

<div class="get-involved row">
    <div class="span3">
        <div class="involved-icon email">
            <%= image_tag "email.png" %>
        </div>
        <p>Have any questions or feedback? Get in touch with us via <a href="mailto:jpadilla@getblimp.com">email</a>.</p>
    </div>

    <div class="span3">
        <div class="involved-icon github">
            <%= image_tag "github-mark.png" %>
        </div>
        <p>You can watch, star, fork the official repository on <a href="https://github.com/jpadilla/sopr-platform">GitHub</a>.</p>

    </div>

    <div class="span3">
        <div class="involved-icon blimp">
            <%= image_tag "blimp-logo.png" %>
        </div>
        <p>We manage this project with <a href="http://getblimp.com">Blimp</a>. Send us an <a href="mailto:jpadilla@getblimp.com">email</a> to get onboard.</p>
    </div>
</div>