<div class='sopr-home'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='marketing-section-signup'>
        <div class='span7 heading'>
          <h2>Get Connected to the Startup Community!</h2>
          <p>We encourage you to sign up - you’ll get all the latest news about event updates, resources, jobs and more. Additionally, we’ll keep you up to date about the changes coming soon here on the website.</p>
        </div>
        <div class='span5 form-signup-home'>
          <%= render 'devise/registrations/homeform' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class='marketing-section'>
      <div class='container'>
        <div class='row-fluid'>
          <div class='span4'>
            <div class='teaser-icon'>
              <span><%= image_tag "resources.png", :class => 'featured-icon' %></span>
            </div>
            <h3>Resources</h3>
            <p>Share links, videos, articles and repositories publicly or with the people you work with.</p>
          </div>
          <div class='span4'>
            <div class='teaser-icon'>
              <span><%= image_tag "time.png", :class => 'featured-icon' %></span>
            </div>
            <h3>Events</h3>
            <p>Stay on top of events across your community and connect with other founders and mentors.</p>
          </div>
          <div class='span4'>
            <div class='teaser-icon'>
              <span><%= image_tag "chat.png", :class => 'featured-icon' %></span>
            </div>
            <h3>Conversations</h3>
            <p>Talk to other founders and mentors and get the best answers from across the community.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>