<% content_for :subheader do %>
<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1 class='subheader-title'>E·vents</h1>
      </div>
    </div>
  </div>
</section>
<% end %>

<div class="container coming-soon">
    <p class="lead">something that occurs in a certain place during a particular interval of time.</p>
    <%= render 'shared/get_involved' %>
</div>