<div class="container coming-soon">
    <h1>e·vents</h1>
    <p class="lead">something that occurs in a certain place during a particular interval of time.</p>
    <p>We already have a couple of ideas of what this section is all about and are already working on it. We definitely want your feedback and welcome you to join the discussion. You can watch, star, fork the official repository on <a href="https://github.com/jpadilla/sopr-platform">GitHub</a>. You can also follow the action more closely by sending us an <a href="mailto:jpadilla@getblimp.com">email</a>, and we'll get you invite you to the project on <a href="http://getblimp.com">Blimp<a/>.</p>
</div>