<% content_for :subheader do %>
<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1 class='subheader-title'>Re·source</h1>
      </div>
    </div>
  </div>
</section>
<% end %>

<div class="container coming-soon">
    <p class="lead">a source of supply, support, or aid, especially one that can be readily drawn upon when needed.</p>
    <p>We already have a couple of ideas of what this section is all about and are already working on it. We definitely want your feedback and welcome you to join the discussion. You can watch, star, fork the official repository on <a href="https://github.com/jpadilla/sopr-platform">GitHub</a>. You can also follow the action more closely by sending us an <a href="mailto:jpadilla@getblimp.com">email</a>, and we'll get you invite you to the project on <a href="http://getblimp.com">Blimp<a/>.</p>
</div>