<% content_for :subheader do %>
<section id='subheader-image' class='subheader-image-resources'>
  <div class='subheader-opacity'></div>
  <div class='container-fluid container-padding'>
    <div class='row-fluid subheader-wrapper-content'>
      <h2 class='subheader-tile'>Resources</h2>
      <p class='subheader-subtitle'>A source or supply from witch benefit is produced</p>
    </div>
  </div>
</section>
<% end %>

<div class="container coming-soon">
    <%= render 'shared/get_involved' %>
</div>