<% content_for :subheader do %>
<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1 class='subheader-title'>About</h1>
      </div>
    </div>
  </div>
</section>
<% end %>

<div class="container coming-soon">
  <p>5 years ago, no one in Puerto Rico knew much about entrepreneurship in
    general; much less about technology-based entrepreneurship. Our
    entrepreneurs were (and many essentially still are) born out of necessity:
    laid off from a government or manufacturing job, chronic unemployment, or
    lack of upward mobility in their current employment. A very select group of
    puertorricans set out to change that: highly educated and extremely
    motivated, they chose to stay behind – while, on average, 95% of their
    colleagues in engineering, computer science, and technology related fields
    left the island for greener pastures at the top Fortune 100 companies in the
    US or advanced degrees at major universities around the world – never to
    return.</p>

  <p>For over a decade, multiple and disparate initiatives were courageously
    implemented by government-backed NGO’s, government officials, and
    universities – all with lackluster results. Their focus: “to promote
    entrepreneurship and a knowledge economy”. A lot of promotion, and very
    little execution later: There are no active seed or early stage funds in
    Puerto Rico, no idea-stage incubators or accelerators, no technology success
    stories of funds raised, exits achieved, or worlds changed. The result is a
    fragmented entrepreneurship ecosystem with no clear lines of support for the
    aspiring techpreneur – a morass of government bureaucracy, well-intentioned,
    but inexperienced and ill-equipped support institutions, and no hope for the
    young hacker that could build their company anywhere in the world, but wants
    to do it from Puerto Rico.</p>

  <p>Tired of sitting on the sidelines, this new breed of entrepreneur set out
    to be a part of the global conversation – facilitated through technology and
    strong connections with an exiled diaspora eager to reconnect and support
    their beloved Puerto Rico. And so, over the past year, Startup Weekends,
    Barcamps, Meetups, TEDxs, and other global entrepreneurship and activism
    initiatives have been executed to attract those brave (or crazy!) souls who
    decided to stay – who decided that entrepreneurship is global, and that
    Puerto Rico wants to be a part of the conversation.</p>

  <p>Startups of Puerto Rico aims to be an attempt to formalize what has already
    been in existence for the past year which we’ve all felt in some fashion – a
    real technology startup scene right smack in the middle of the Caribbean. We
    invite you to say hi, sign-up your startup, and reach out to other startups
    with how you can help or how we can help you. So welcome: We’ve been looking
    for you.</p>
</div>