<% content_for :subheader do %>
<section id='subheader-image' class='subheader-image-about'>
  <div class='subheader-opacity'></div>
  <div class='container-fluid container-padding'>
	<div class='row-fluid subheader-wrapper-content'>
	  <h2 class='cursive-title'>Do What You Love</h2>
	</div>
  </div>
</section>
<% end %>

<section id='about'>
  <div class='container-fluid container-padding'>   
    <div class='row-fluid'>
	  <div class='span12'>
	  	<div class='span7'>
	  	  <h1 class='about-title'>Who we are?</h1>
		  <p class='about-content'>Startups of Puerto Rico is an initiative that wants to empowered Puerto Rico brightest digital designers, engineers and entrepreneurs to shape new technologies, disrupt old business models, and reset the boundaries of whats possible.  We are a do-ocracy run by tech community.</p>
	  	</div>
	  	<div class='span5'>
	  	  <h2 class='about-title'>Founded</h2>
	  	  <ul class='founded'>
	  	  	<li><%= image_tag "calendar.png", :width => '60px;' %><span>2008</span></li>
	  	  </ul>
	  	</div>
	  </div>
	</div>
  </div>
</section>
<section id='about'>
  <div class='container-fluid container-padding'>
  	<div class='row-fluid'>
  	  <div class='section-divider' style='margin-bottom:0;'></div>
  	  <div class='start-building'>
		<h3>We believe that action is more important than words, so stop talking, sketching and start building.</h3>
	  </div>
  	</div>
  </div>
</section>
<section id='about'>
  <div class='container-fluid container-padding'>   
    <div class='row-fluid'>
      <div class='section-divider'></div>
	  <div>
	  	<div class='span12'>
	  	  <h1 class='section-title'>We are built on the following values</h1>
	  	</div>
	  	<div class='span12' style='margin:30px 0 0 0;'>
	  	  <div class='span4 our-value'>
	  		<span class='value-icon-1 value-icon'></span>
	  		<h3 class='value-title'>Collaboration</h3>
	  		<p class='value-content'>
	  			One of the great benefits of the tech community is that you will meet all sorts of people with all sorts of knowledge and everyone is willing to help you.
	  		</p>
		  </div>
		  <div class='span4 our-value'>
		  	<span class='value-icon-2 value-icon'></span>
		  	<h3 class='value-title'>Community</h3>
		  	<p class='value-content'>
		  		We thrive on connections and mutual support here. It is important that everyone give into as well as benefit from the strong community it has become.  So this is an effort of the tech community and not of an individual or company.
		  	</p>
		  </div>
		  <div class='span4 our-value'>
		  	<span class='value-icon-3 value-icon'></span>
		  	<h3 class='value-title'>Openness</h3>
		  	<p class='value-content'>
		  		Openness and transparency is the best spirit of the community of "free software".  When ideas are free, everyone benefits. Therefore, we encourage open discussions. Sorry, no NDAs allowed.
		  	</p>
		  </div>
	  	</div>
	  </div>
	</div>
  </div>
</section>