.sopr-home {
  position: relative;
  background: #2a2a2a image-url('sopr-home.png');
  color: white;
  height: 497px;
  .marketing-section-signup {
    position: relative;
    padding-top: 70px;
    padding-bottom: 45px;
    float: left;
    width: 100%;
    .heading {
      padding-left: 0;
      h2 {
        margin-top: 0;
        padding-top: 10px;
        font-size: 50px;
        font-weight: normal;
        line-height: 1;
        color: #fff;
        letter-spacing: -1px;
      }
      p {
        margin: 40px 0 0;
        font-size: 18px;
        line-height: 1.5;
        color: #fff;
      }
    }
    .form-signup-home {
      width: 34.17094%;
      margin-left: 65px;
      margin-top: 15px;
      select {
        width: 130px;
      }
      p {
        font-size: 12px;
        position: absolute;
        right: 41px;
        top: 85px;
        float: right;
        width: 150px;
      }
      .signup-btn {
        padding: 11px 90px;
        color: white;
        text-shadow: 0 0px 0 rgba(0,0,0,0.25);
        text-align: center;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .marketing-section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    float: left;
    &:before, &:after {
      content: '';
      display: table;
    }
    .span4 {
      .teaser-icon {
        width: 100px;
        height: 100px;
        margin: 0 auto 15px;
        color: #4183c4;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 50px;
        .featured-icon {
          width: 38px;
          opacity: .85;
          position: relative;
          margin: 32px 0;
        }
      }
      h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #333;
      }
      p {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #5e5e5e;
      }
    }
  }
}

