/* Header */

.site-nav {
  background: #fff;
  height: 80px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #eee;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition: all 0.35s ease;
  z-index: 100;
}

.container-padding {
  padding: 0 60px;
}

.logo {
  margin-top: 0px;
  padding: 0 20px 0 0;
  width:auto;
  float:left;
}

.logo h1 {
  background: image-url('logo.png') no-repeat;
  position: relative;
  text-indent: -9999px;
  height: 61px;
  width: 143px;
  margin: 10px 0;
  line-height: 65px;
}

.nav-menu {
  float:left;
  width:auto;
}

#menu ul {
  margin-bottom: 0;
  list-style: none;
  margin-left: 0;
}

#menu ul li {
  line-height: 82px;
  display: inline-block;
  width: 75px;
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}

#menu ul li a:hover {
  color:#333;
  text-decoration: underline;
}

nav .mobile-menu {
  display: none;
}

.mobile-menu {
  margin: 25px 0 25px 15px;
  width: auto;
}

.mobile-menu-dropdown {
  list-style:none;
  margin-top: 6px;
}

.mobile-menu-dropdown i {
  margin-top: 3px;
  margin-left: 5px;
}

@media (max-width: 850px) {
  nav ul     { display: none; }
  .header-padding { padding: 0 19px; }
  nav .mobile-menu { display: inline-block; }
  .logo h1 { background: image-url('logo-mobile.png') no-repeat; position: relative; text-indent: -9999px; height: 61px; width: 143px; margin: 10px 0; line-height: 65px; }
  .nav-menu { float: right; }
  .mobile-menu { margin: 25px 0 25px -170px; width: auto; position: absolute; }
}

.authentication {
  float: right;
  margin-left: 0;
}

.authentication ul {
  line-height: 40px;
  list-style: none;
  margin: 0;
}

.authentication ul .last .dropdown-toggle.nav-link {
  width: 40px;
}

.separator {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #e7e9eb;
  margin: 3px 0 3px;
  padding: 0;
}

.dropdown-menu li {
  padding: 0;
  float: none;
}

.dropdown-menu > li > a {
  font-size: 13px;
  padding: 5px 12px;
}

.dropdown-menu > li > a:hover {
  color: #333;
  text-decoration: underline;
}

.authentication ul .first .nav-link, .authentication ul .last .nav-link {
  float: left;
  display: block;
  padding: 9px 17px;
  margin-top: 0px;
  line-height: 18px;
  text-align: center;
  font-weight: 600;
  margin: 21px 0;
}

.authentication .login-btn {
  float:right;
  font-size: 13px;
  line-height: 21px;
  padding:5px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color:white;
  letter-spacing: 1px;
  margin: 0 20px;
}

@media (max-width: 767px) { 
  .container-padding {
    padding: 0 20px;
  }
}

/* Login Card */

.login-wrapper {
  width: 350px;
  margin: 60px auto;
  form {
    margin: 0 0 10px;
  }
}

.login-wrapper-title {
  position: relative;
  padding: 10px 20px;
  margin: 0;
  background-color: #f5f6f7;
  background-repeat: repeat-x;
  border-bottom: 1px solid #eee;
  border-radius: 3px 3px 0 0;
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
  }
}

.login-form-wrapper {
  padding: 20px;
}

.form-label-login {
  font-size: 13px;
}

.remenber-me-input {
  float: left;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.remenber-me {
  font-size: 12px;
}

.form-login-action {
  margin: 25px 0 0;
}

.shared-links-wrapper {
  background: #f5f6f7;
  padding: 10px 20px;
  margin: 20px 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  a {
    text-align: left;
    width: 100%;
    float: left;
    line-height: 1.1;
    font-size: 13px;
  }
}

/* Global Information Card */

.info-cards {
  background: white;
  border: 1px solid #eee;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

/* App Buttons */

.main-btn {
  position: relative;
  display: inline-block;
  padding: 7px 15px;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  background-repeat: repeat-x;
  border: 2px solid #003855;
  text-shadow: none;
  color: white;
  background: #003855;
  font-family: open sans;
  -webkit-font-smoothing: antialiased;
}

.main-btn:hover {
  color: #003855;
  background:transparent;
  text-decoration: none;
}

.form-login-action .main-btn:hover, .form-content-action .main-btn:hover {
  background:#003855;
  color:white;
}

.blue-btn {
  background: -webkit-gradient(linear, center top, center bottom, from(deg), color-stop(0, rgba(0,0,0,0.15)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.15) 0, rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(90deg, rgba(0,0,0,0.15) 0, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(90deg, rgba(0,0,0,0.15) 0, rgba(0,0,0,0) 100%);
  background-color: #5b93fc;
  border: 1px solid #4177bb;
  -webkit-font-smoothing: subpixel-antialiased;
  color: white;
  text-shadow: 0 0px 0 rgba(0,0,0,0.25);
  font-weight: 500;
}

.blue-btn:hover {
  color:white;
}

.grey-btn {
  background: #e3e5ea;
  border: 2px solid #e3e5ea;
  box-shadow: none;
  color: #333;
  text-align: center;
  font-weight: 600;
}

.grey-btn:hover {
  background: #e3e5ea;
}

.grey-btn-outline {
  background: transparent;
  border: 2px solid #e3e5ea;
  box-shadow: none;
  color: #333;
  text-align: center;
  font-weight: 600;
}

.btn-small {
  padding: 4px 12px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-medium {
  padding: 10px 30px;
  line-height: 1.428571429;
  font-size: 14px;
}

.btn-large {
  padding: 12px 32px;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 500;
}

#navigation {
  padding-bottom: 1px;
  border-bottom: 1px solid;
  border-color: #ddd;
  padding-top: 10px;
  margin: 0;
}

#navigation ul {
  margin: 0;
  list-style: none;
  padding: 0 5px;
}

#navigation ul li {
  float: left;
}

#navigation ul li a {
  padding: 10px 12px;
  font-size: 13px;
}

#navigation ul li a:hover {
  text-decoration: none;
}

.user-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* Modal Global Style */

.target {
  padding: 30px 85px;
  margin: 0 8px 0px 8px;
  float: left;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 2px;
}

.target:hover{
  border: 2px solid #ff4351;
}

.target-title {
  margin: 15px 0 0;
}

/* Subheader Global Style */

.cursive-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin:11px 0;
  position: relative;
  text-align: center;
  padding: 0;
  line-height: 60px;
}

#subheader-image {
  color: white;
  background-size: cover;
  height: 252px;
}

.subheader-image-startup {
  background: image-url('startup-top-image.jpg') center center no-repeat;
}

.subheader-image-talent {
  background: image-url('talent-top-image.jpg') center center no-repeat;
}

.subheader-image-events {
  background: image-url('event-top-image.jpg') center center no-repeat;
}

.subheader-image-groups {
  background: image-url('group-top-image.jpg') center center no-repeat;
}

.subheader-image-resources {
  background: image-url('resources-top-image.jpg') center center no-repeat;
}

.subheader-image-about {
  background: image-url('about-top-image.jpg') center center no-repeat;
}

.subheader-opacity {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  height: 252px;
  width: 100%;
}

.subheader-wrapper-content {
  position: relative;
  padding: 80px 0;
}

.subheader-tile {
  position:relative;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 10px;
}

.subheader-subtitle {
  margin: 0;
  text-align: center;
  color: white;
  position: relative;
  font-size: 1.5em;
  text-shadow: 0 0 10px black;
}

#subheader-navigation {
  background: #f9f9fa;
  border-bottom: 1px solid #eee;
}

/* Subheader without image */

#subheader {
  background: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.subheader-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  color: #333;
}

.loved {
  top: 4px;
  position: relative;
  left: -2px;
  padding-right: 13px;
}

/* Global Content Wrapper */

#content {
  float: left;
  width: 100%;
  margin: 20px 0 40px;
}


select {
  margin: 5px 0 20px;
}


.button {
  background: -webkit-linear-gradient(#ffffff,#fafafa);
  background: -moz-linear-gradient(#ffffff,#fafafa);
  background: -o-linear-gradient(#ffffff,#fafafa);
  background: linear-gradient(#ffffff,#fafafa);
  border: 1px solid rgba(45,60,72,0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #2d3c48;
  cursor: pointer;
  display: inline-block;
  font-size: 1.14286rem;
  font-weight: 300;
  height: 46px;
  padding: 10px;
  text-align: center;
  text-shadow: 0 1px #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.primary-button {
  background: -webkit-linear-gradient(#2d3c48,#003855);
  background: -moz-linear-gradient(#2d3c48,#003855);
  background: -o-linear-gradient(#2d3c48,#003855);
  background: linear-gradient(#2d3c48,#003855);
  border-color: #2d3c48 #0d2c45 #003855;
  color: #fff;
  text-shadow: 0 -1px #092838;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Open Sans';
}

.button-save {
  margin: 25px 0;
}

.flash-message {
  margin-top: 0px;
}

/* Comming Soon Section Global Style */

.comming-soon-title {
  line-height: 18px;
  font-size: 16px;
  text-align: center;
  margin: 35px 0 16px;
  font-weight: 400;
}

.comming-soon-divider {
  border-top: 1px solid #ddd;
  width: 6%;
  margin: 0 auto 13px;
}

.comming-soon-help {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}


.coming-soon {
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .lead {
    font-size: 21px;
    line-height: 30px;
  }
  a {
    color: #5b93fc;
    &:hover {
      color: #005580;
      text-decoration: underline;
    }
  }

  .get-involved {
    text-align: center;
    border: 1px solid #f5f6f7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-top: 45px;
    margin-bottom: 60px;
    .span4 {
      padding: 30px 40px;
      .involved-icon {
        height: 80px;
        line-height: 80px;
        vertical-align: middle;
        padding: 30px 20px;
        background: #f5f6f7;
        margin-bottom: 25px;
        &.github img {
          margin-top: -7px;
        }
        &.email img {
          margin-top: -11px;
        }
      }
    }
  }
}

/* Global Forms Style */

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
  border: 1px solid #d6d9dd;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  width: 291px;
  margin-bottom: 0;
  padding-left: 10px;
  height: 27px;
  line-height: 27px;
  margin: 5px 0 20px;
}

.forms-section-title {
  margin: 0px 0 25px 0;
  font-size: 18px;
  line-height: 1.1;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.subheader-form-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 28px;
  color: #333;
}

.form-content {
  float: left;
  width: 100%;
  padding: 10px 0 0;
  border-bottom: 1px solid #f7f7f7;
}

.form-label {
  font-weight: normal;
  font-size: 14px;
  margin: 23px 0;
}

.form-field {
  line-height: 43px;
}

.form-input-message {
  height: auto;
  margin: 0;
  font-size: 11px;
  color: #5e5e5e;
  margin-top: 0px;
  font-weight: normal;
}

.textarea-form {
  height: 250px;
  width: 300px;
}

.form-content .span5 .token-input-list-facebook {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #d6d9dd;
  font-size: 14px;
  font-weight: 300;
  width: 300px;
  margin-bottom: 0;
  padding-left: 10px;
  height: 27px;
  line-height: 27px;
  margin: 5px 0 20px;
  li.token-input-token-facebook {
    padding: 7px 9px;
    background-color: #2d3c48;
    color: white;
  }
}

.form-content-action {
  float: left;
  width: 100%;
  padding: 10px 0 0;
  margin: 30px 0;
  text-align:center;
  a {
    padding-left: 10px;
      &.action-delete {
        color: #333;
        margin-top: 12px;
      }
  }
}

/* Global forms erros messages  */

#error_explanation {
  border: 2px solid #E74C3C;
  color: #E74C3C;
  font-size: 13px;
  padding-left: 10px;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  h2 {
    font-size: 15px;
    line-height: 22px;
    padding-left: 8px;
    font-weight: 500;
  }
}


/* Footer Global Style */

.footer-wrapper {
  border-top: 3px solid #f4f5f8;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  clear:both;
}
.footer-section-wrapper {
  margin-top: 0px;
  padding: 0 20px 0 0;
  width:100%;
  float:left;
  border-right: 2px solid #f4f5f8;
}
.footer-section-wrapper h1 {
  background: image-url('negro.png') no-repeat;
  position: relative;
  text-indent: -9999px;
  height: auto;
  width: 100%;
  margin: 10px 0;
  line-height: 66px;
  opacity: .2;
}
.footer-section-wrapper ul {
  list-style:none;
}
.footer-section-wrapper ul li a {
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #666;
}
.footer-section-wrapper ul li a:hover {
  text-decoration: underline;
}
.footer-section-wrapper-right {
  margin-top: 0px;
  padding: 0 0px 0 0;
  width:100%;
  float:left;
  text-align: right;
}
.footer-section-wrapper-right p {
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #bdbdbd;
}
.icon-heart-2 {
  color: red;
  padding-right: 4px;
  top: 1px;
  position: relative;
}
.footer-wrapper .row-fluid .span2 {
  float:left;
}
.footer-wrapper .row-fluid .span6 {
  width: 42.717949%;
}
@media (min-width: 970px) and (max-width: 1199px) {
  .footer-wrapper .row-fluid .span6 {
    width: 48.717949%;
  }
}
