$title-color: #141823;
$subtitle-color: #6a7181;
$info-color: #adb2bb;
$radius: 3px;

.startupcard {
  background:#fff;
  border: 1px solid #ddd;
  padding:20px;
  margin-bottom:20px;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  &:nth-child(odd) {
    margin-left: 0 !important;
  }
  .startupimage {
    border: 1px solid #ddd;
    background-color: #fff;
    float: left;
    line-height: 86px;
    margin-right: 20px;
    height: 90px;
    width: 90px;
    padding: 5px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    .startuplogo {
    width:90px;
    height:90px;
    vertical-align: middle;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    }
  }
  .startupinfo {
    margin: 0;
    vertical-align: middle;
    overflow: hidden;
    .startupinfo-head {
      vertical-align: middle;
      h1 {
        color: $title-color;
        float: left;
        margin: 5px 0 7px;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
      }
    }
  .clearfix {
    clear: both;
  }
  .startupcontent {
      float: left;
      vertical-align: middle;
      max-width: 97%;
      min-width: 120px;
      font-size: 14px;
      .startuppitch {
        font-weight: 500;
        font-size: 14px;
        color: $subtitle-color;
        margin-bottom: 4px;
      }
      .startup-website {
        i.icon-globe-2 {
          margin: 4px 4px 0 -3px;
          color: $info-color;
        }
        a {
          color: $info-color;
          &:hover {
            color: #333;
          }
        }
      }
    }
  }
  .startupabout {
    width: 300px;
    overflow: hidden;
    vertical-align: top;
    min-width: 200px;
    margin: 22px 0 0;
    float: left;
    font-size: 13px;
    font-weight: 400;
  }
}

.form-content {
  .logo-wrapper {
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 5px;
    height: 90px;
    width: 90px;
    padding: 5px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;

    .startuplogo {
      width:90px;
      height:90px;
      vertical-align: middle;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
    }
  }
  .logo-input-wrapper {
    margin-bottom: 20px;
    .form-photo {
      display: none;
    }
    .upload-photo, .reset-photo {
      position: absolute;
      width: 120px;
      padding: 8px;
    }
    .upload-photo {
      margin: 6px 0 0 110px;
    }
    .reset-photo {
      margin: 60px 0 0 110px;
    }
  }
}