$title-color: #141823;
$subtitle-color: #6a7181;
$info-color: #adb2bb;
$radius: 3px;

.startupcard {
  background:#fff;
  border: 1px solid #ddd;
  padding:20px;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  .startupimage {
    border: 1px solid #ddd;
    background-color: #fff;
    float: left;
    line-height: 86px;
    margin-right: 20px;
    height: 90px;
    width: 90px;
    padding: 5px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    .startuplogo {
    width:90px;
    height:90px;
    vertical-align: middle;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    }
  }
  .startupinfo {
    margin: 0;
    vertical-align: middle;
    overflow: hidden;
    .startupinfo-head {
      vertical-align: middle;
      h1 {
        color: $title-color;
        float: left;
        margin: 5px 0 7px;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
      }
    }
  .clearfix {
    clear: both;
  }
  .startupcontent {
      float: left;
      vertical-align: middle;
      max-width: 97%;
      min-width: 120px;
      font-size: 14px;
      margin-top: 6px;
      .startuppitch {
        font-weight: 500;
        font-size: 14px;
        color: $subtitle-color;
        margin-bottom: 4px;
      }
      .startuptags {
        line-height: 16px;
        margin: 8px 0 0;
        background: none;
        padding: 0;
        float: left;
        width:100%;
        ul {
          float: left;
          width: 100%;
          margin: 2px 0 0 0px;
          list-style: none;
          font-size: 12px;
          line-height: 16px;
          background: none;
          padding: 0;
          li {
            float: left;
            padding-right: 16px;
            color:  $info-color;
            i {
              color: $info-color;
            }
          }
          .markets {
            margin-top:-1px;
            font-weight:500;
          }
        }
      }
    }
  }
  .startupabout {
    width: 100%;
    margin-top: 12px;
    overflow: hidden;
    vertical-align: top;
    min-width: 200px;
    margin: 20px 0 0;
    float: left;
    font-size: 13px;
    font-weight: 400;
  }
}

.form-content {
  .logo-wrapper {
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 5px;
    height: 90px;
    width: 90px;
    padding: 5px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;

    .startuplogo {
      width:90px;
      height:90px;
      vertical-align: middle;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
    }
  }
  .logo-input-wrapper {
    margin-bottom: 20px;
    .form-file {
      display: none;
    }
    .upload-photo, .reset-photo {
      position: absolute;
      width: 120px;
      padding: 8px;
    }
    .upload-photo {
      margin: 6px 0 0 110px;
    }
    .reset-photo {
      margin: 60px 0 0 110px;
    }
  }
}