$title-color: #141823;
$subtitle-color: #6a7181;
$info-color: #adb2bb;
$radius: 3px;
$card-background:white;
$card-border: 1px solid #ddd;
$card-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
$user-image-profile: 50%;

.span7 {
  padding-left: 25px;
}

.usercard {
  background:$card-background;
  border: $card-border;
  padding:20px;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  .ribbon-wrapper {
    position:relative;

    .ribbon-wrapper-green {
      width: 85px;
      height: 88px;
      overflow: hidden;
      position: absolute;
      top: -26px;
      right: -24px;
      p {
        font-size:14px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform:    rotate(45deg);
        -ms-transform:     rotate(45deg);
        -o-transform:      rotate(45deg);
        position: relative;
        padding: 7px 0;
        left: -5px;
        top: 15px;
        width: 120px;
        background-color: #2ECC71;
        background-image: -webkit-linear-gradient(#2ECC71, #0acb5c);
        background-image:    -moz-linear-gradient(#2ECC71, #0acb5c);
        background-image:     -ms-linear-gradient(#2ECC71, #0acb5c);
        background-image:      -o-linear-gradient(#2ECC71, #0acb5c);
        -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
        -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
        box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
      }
      p:before, p:after {
        content: "";
        border-top:   3px solid #6e8900;
        border-left:  3px solid transparent;
        border-right: 3px solid transparent;
        position:absolute;
        bottom: -3px;
      }
      p:before {
        left: 0;
      }
      p:after {
        right: 0;
      }
    }
  }
  .userimage {
    text-align: center;
    width: 115px;
    height: 115px;
    margin: 0 auto;
    padding: 12px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.25);
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    -webkit-border-radius: $user-image-profile;
    -moz-border-radius: $user-image-profile;
    -ms-border-radius: $user-image-profile;
    -o-border-radius: $user-image-profile;
    border-radius: $user-image-profile;

    &.developer {
        background: #2995c4;
    }

    &.designer {
        background: #6bab74;
    }

    &.hacker {
        background: #da1c29;
    }

    &.entrepreneur {
        background: #fcb452;
    }

    &.artist {
        background: #be67de;
    }

    &.business {
        background: #000000;
    }

    .imagecard {
        width: 115px;
        -webkit-border-radius: $user-image-profile;
        -moz-border-radius: $user-image-profile;
        -ms-border-radius: $user-image-profile;
        -o-border-radius: $user-image-profile;
        border-radius: $user-image-profile;
    }
  }
  .userinfo, .userabout {
    float:left;
    width:100%;
    h1 {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      line-height: 16px;
      margin: 25px 0 5px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3 {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      line-height: 16px;
      margin: 12px 0;
    }
    p {
      font-size: 13px;
      text-align: center;
      font-weight: 400;
    }
  }
  .usersocial {
    float:left;
    width:100%;
    text-align: center;
    ul {
      list-style: none;
      margin: 13px 0 0;
      li {
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        padding: 0 10px;
      }
    }
  }
}


.account-card {
  width:100%;
  float:left;
  background:$card-background;
  border: $card-border;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  -webkit-box-shadow: $card-shadow;
  -moz-box-shadow: $card-shadow;
  box-shadow: $card-shadow;
  text-align: left;
  padding: 0;
  margin: 0 0 24px;
  .user-info {
    padding: 16px;
    float:left;
    .avatar {
      float: left;
      margin: 0 25px 0 0;
      .profile-image {
        height: 92px;
        width: 92px;
        padding: 10px;
        margin: 0;
        -webkit-border-radius: $user-image-profile;
        -moz-border-radius: $user-image-profile;
        -ms-border-radius: $user-image-profile;
        -o-border-radius: $user-image-profile;
        border-radius: $user-image-profile;

          &.developer {
              background: #2995c4;
          }

          &.designer {
              background: #6bab74;
          }

          &.hacker {
              background: #da1c29;
          }

          &.entrepreneur {
              background: #fcb452;
          }

          &.artist {
              background: #be67de;
          }

          &.business {
              background: #000000;
          }

          .image-card {
            height: 92px;
            width: 92px;
            -webkit-border-radius: $user-image-profile;
            -moz-border-radius: $user-image-profile;
            -ms-border-radius: $user-image-profile;
            -o-border-radius: $user-image-profile;
            border-radius: $user-image-profile;
        }
      }
    }
    .member-info {
      float: left;
      width: 216px;
      margin-top: 10px;
      h1 {
        color: #403f3f;
        font-size: 18px;
        font-weight: 600;
        line-height: 1em;
        padding: 0 0 16px;
        border-bottom: 1px solid #ddd;
        margin: 0 0 16px;
      }
      .email {
        font-weight: 500;
        color:#6a7181;
        font-size: 13px;
        padding-bottom: 10px;
      }
    }
  }
  .profile-footer {
    background: #f8f8f8;
    padding: 20px 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #6a7181;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    float: left;
    margin-top: 15px;
    width:353px;
    .nav-pills {
      margin-bottom: 0;
      li {
        padding: 0 4px;
        font-weight: 500;
        a:hover {
          background:none;
          text-decoration: none;
        }
      }
      .active {
        a {
          background:#2d3c48;
        }
        a:hover {
          background:#2d3c48;
        }
      }
    }
  }
}

.sidebar-section {
  margin: 0 0 32px;
  header {
    h2 {
      font-size: 18px;
      font-weight: 300;
      color: #403f3f;
    }
  }
  .startup-list {
    font-size: 14px;
    ul {
      list-style: none;
      margin:0;
      li {
        position: relative;
        color: #6a7181;
        padding: 8px 0;
        border-bottom: 1px solid #ddd;
        line-height: 17px;
        a {
          color: #6a7181;
          display: inline-block;
          height: 48px;
          line-height: 48px;
          width: 384px;
          -webkit-border-radius: $radius;
          -moz-border-radius: $radius;
          border-radius: $radius;
          img {
            width: 40px;
            border: 1px solid #ddd;
            padding: 2px;
            margin-right: 15px;
          }
          span {
            color: #6a7181;
            line-height: 46px;
            font-size: 16px;
          }
          .truncate {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
          }
        }
        a .icon-eye {
            right: 15px;
            top: 19px;
            position: absolute;
            color:white;
        }
        a:hover .icon-eye {
            color:black;

        }
        a:hover span {

        }
      }
    }
  }
}

.section-name {
  font-weight: 500;
  margin:0;
  font-size: 1.5em;
  opacity: 1;
  pointer-events: auto;
  position: relative;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.section-name:after {
  border-bottom: 1px solid #ddd;
  content: "";
  display: block;
  margin: 0;
  padding-top: 10px;
  position: relative;
}

.section-sub-name {
  font-size: 15px;
  margin: 20px 0;
  color:#6a7181;
  font-weight: 500;
}

.user-note {
  font-size: 13px;
  font-weight: 300;
  color:#adb2bb;
}



